.intro2 {
	width:50%;
	position:relative;
    background-size: cover;
    height: auto;
    position: relative;
    left:40px;
    top:-200px;

}

#intro2.intro2 {
    padding:20% 0 0 0;
}

#intro2.intro2{
    width: 40%;
}
.intro2 .slogan {
	text-align: center;

}

.intro2 .page-scroll {
	text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.intro2-text {
    font-size: 18px;
}

.intro2 .slogan h2 {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	border-width: 0px;
	border-color: #000;
	border-style: none;
	text-shadow: -1px 0 1px #000;
}

.intro2 .slogan h4 {
	color: #fff;
	text-shadow: -1px 1px 1px #000;
}

@media (max-width: 768px) {
  .intro .slogan h2 {
    font-size: 48px;
  }
}

@media (max-width: 600px) {
  .intro .slogan h2 {
    font-size: 36px;
  }
}

.boxed-grey{
    position: relative;
    top:-500px;
    left:1000px;
}

#tara{
    
}